<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="title">Login</label>
            <input
              type="text" id="title"
              class="form-control"
              formControlName="login">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="password">Password</label>
            <input
              type="password" id="password"
              class="form-control"
              formControlName="password">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <button type="submit" class="btn btn-success" [disabled]="!loginForm.valid">Login</button>
        </div>
      </div>
    </form>
  </div>
</div>

