<nav class="navbar navbar-light bg-faded sticky-top">
  <a routerLink="/" class="navbar-brand">Home</a>
  <div class="navbar-default">
      <ul class="navbar-nav">
        <li *ngIf="!canLogin()" routerLinkActive="active" ><a class="nav-link"
                                                                           routerLink="/post/create">Create Post</a></li>
        <li *ngIf="canLogin()" routerLinkActive="active" ><a  class="nav-link" routerLink="/login">
          Login</a></li>
        <li *ngIf="!canLogin()" ><a (click)="logout()" class="nav-link" style="cursor: pointer">Log
          out</a></li>
      </ul>
      <ul class="nav navbar-nav navba">

      </ul>
    </div>
</nav>
